.Rproj.user
.Rhistory
.RData
.Ruserdata
datos_nomivac_covid19.zip
datos_nomivac_covid19.csv
.datos_nomivac_covid19.zip.icloud
Covid19Casos.csv
Covid19Casos.zip
.Covid19Casos.csv.icloud
.Covid19Casos.zip.icloud
.datos_nomivac_covid19.csv.icloud
.DS_Store
*.dcf
*.icloud